*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body .admin-table{
    width: 100%;
}
.body table button{
    width: 125px;
    height: 30px;
    border: none;
    color: white;
    background: #0077B6;
    border-radius: 5px;
}